__tests__
build
coverage
docker
node_modules
.editorconfig
.eslintignore
.eslintrc
.git
.gitignore
.prettierignore
.prettierrc
docker-compose.dev.yml
Dockerfile
jest.config.ts
README.md
test-report.html


